.header {
	z-index: 100;
position: fixed;
width: 100%;
top: 0;
left: 0;
		@include adaptiveValue("padding-block", 50, 20, 0, $maxWidthContainer, 1500);
    &__container {
    }

    &__logo {
				  @include adaptiveValue("width", 376, 235, 0, $maxWidthContainer, 1000);
					@include adaptiveValue("width", 235, 158, 0, 999, 375);

					margin: 0 auto;

			@media (max-width: toEm(780)){
			}
    }

    &__image {
    }
}

