<!-- @format -->

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />
<main class="page--home home">
  <section class="page__hero hero">
		<picture class="hero__picture">
			<source media="(max-width: 480px)" srcset="@img/hero/hero-image-small.png">
			<source media="(max-width: 1000px)" srcset="@img/hero/hero-image-mob.png">
			<img data-fls-image-ignore src="@img/hero/hero-image-2.png" alt="" class="hero__image">
		</picture>
 <div class="hero__container">
	
	<div class="hero__content">
		
		<h1 class="hero__title">
			<p class="hero__label">Spin and get</p>
			<p class="hero__title-main">Huge</p>
			<p class="hero__title-sub"> Cuatro <span>bonuses</span></p>
		</h1>
	<div class="hero__body">
	<div class="hero__slot slot">
  <div class="slot__reels">
    <div class="slot__reel">
      <div class="slot__window">
        <div class="slot__track" data-reel="0"></div>
      </div>
    </div>

    <div class="slot__reel">
      <div class="slot__window">
        <div class="slot__track" data-reel="1"></div>
      </div>
    </div>

    <div class="slot__reel">
      <div class="slot__window">
        <div class="slot__track" data-reel="2"></div>
      </div>
    </div>
  </div>
  <div class="slot__message" id="slotMessage">
    <span id="slotMessageText"></span>
  </div>
	 
 </div>
   <div class="hero__button-wrapper button-wrapper is-hidden">
        <button data-fls-button class="slot__button button" id="spinButton" type="button">
    SPIN <span id="spinCounter">4/4</span>
  </button>
    </div>
		</div>
 </div>
   </div>
  </section>

</main>
