.home {
	position: relative;
	z-index: 1;
}
.hero {
  isolation: isolate;
	min-height: 100dvh;
 z-index: 1;
	position: relative;
	height: 100%;
	background-image: url("@img/hero/hero-bg.png");
	background-size: cover;
	background-position:  center 20%;
background-repeat: no-repeat;
	@media (max-width: toEm(1550) ) {
 background-size:100% auto;
	background-position:  center 10%;
 
	}
 @media (max-width: toEm(1400)){
	   background-size:auto 100%;
 }
	@media (max-width: toEm(1000)) {
		background-image: url("@img/hero/hero-bg-light-mob.png");
			background-size: cover;
 
background-position: top center;
 height: auto;
    overflow: visible;
	}
 @media (max-width:toEm(720)){
	 background-image: url("@img/hero/hero-bg-light-small.png"); 
 }
 @media (max-width:toEm($mobileSmall)){
 
	     min-height: max(100dvh, calc(100vw * 1.25));	
 }

 &__picture { 

		  z-index: 3;
  pointer-events: none;
		display: block;
	    position: absolute;
			transform: none;
  pointer-events: none;
  left: 50%;
  transform: translateX(calc(-50% + 0px));
 	&::before{
		content:'';
		position: absolute;
		@include adaptiveValue("width", 375, 225, 0, $maxWidthContainer, 1000);
		@include adaptiveValue("height", 245, 150, 0, $maxWidthContainer, 1000);
		max-width: 100%;
		max-height: 100%;
		@include adaptiveValue("right", -380, -220, 0, $maxWidthContainer, 1000);
		@include adaptiveValue("top", 340, 200, 0, $maxWidthContainer, 1000);
 
		z-index: 5;
		background: url("@img/hero/tiger-logo.png") no-repeat center;
		background-size: cover;
		@media (max-width: toEm(1000)){
			  display: none;
		}
	}

	@include adaptiveValue("width", 800, 540, 0, $maxWidth, 1000);
 
	@include adaptiveValue("top", 180, 120, 0, $maxWidth, 1000);
	@media (max-width: toEm(1000)){
  transform: translateX(0px);

		  @include adaptiveValue("left", 150, 9, 0, 1000, 375);
	@include adaptiveValue("top", 240, 180, 0, 1000, 375);
 
	@include adaptiveValue("width", 700, 360, 0, 1000, 375);

	}
	

 
 }
 &__image {
	display: block;
	width: 100%;
	height: auto;
 
 }
 	&__content {
		position: relative;
		z-index: 5;
				  width: 100%;
  min-height: 100svh;
display: flex;
flex-direction: column;
  justify-items: center;
	align-items: center;
		@include adaptiveValue("gap", 220, 130, 0, $maxWidth, 1000);
@include adaptiveValue("padding-top", 130, 80, 0, $maxWidth, 1000);
@media (max-width: toEm(1550)){
	height: 100dvh;
}
 
		@media (max-width: toEm(1000)){
	@include adaptiveValue("padding-top", 75, 60, 0, 1000, 375);
   		@include adaptiveValue("gap", 480, 258, 0, 1000, 375);
height: auto;
 min-height: inherit;
    width: 100%;

    display: grid;
grid-template-rows: auto auto;

    justify-items: center;
    align-content: start;

    margin-top: 0;

		}
 


 
	}

	&__body {
		display: flex;
		flex-direction: column;
		
		@include adaptiveValue("gap", 120, 50, 0, $maxWidth, 1600);

@media (max-width: toEm(1000)){
	 align-items: center;
	@include adaptiveValue("gap", 70, 0, 0, 999, 375);
	
  width: fit-content;
}
 
	 
	}
	&__label {
		font-style: italic;
		font-weight: 800;
		@include adaptiveValue("font-size", 36, 24, 0, $maxWidthContainer, 1000);
	padding-left: 15px;
		letter-spacing: 0.01em;
		@media (max-width: toEm(1400)){
			  padding-left: 5px;
		}
		@media (max-width: toEm(1000)){
			  	@include adaptiveValue("font-size", 40, 26, 0, 1000, 375);
		}
	}
	&__container {
		position: relative;
		z-index: auto;
  min-height: 100svh;
	@media (max-width: toEm(1000)){
		// padding-top: 100px;
  display: grid;
		min-height: inherit;  
	}
	justify-items: center;
	align-items: center;
	}

	&__title {
		position: relative;
		z-index: 5;
		font-family: var(--secondaryFont);
		font-style: italic;
	   width: fit-content;
    max-width: 440px;
  position: relative;
  z-index: 3;

  text-align: start;
transform: translateY(15px);
  line-height: 0.9;
	@media (max-width: toEm(1000)){
		transform: translateY(0px);
	}
	}

	&__title-main {
		position: relative;
		z-index: 15;
		font-weight: 900;
		@include adaptiveValue("font-size", 112, 83, 0, $maxWidthContainer, 1000);
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: var(--orangeColor);
		text-shadow:
			0 0 42px rgba(252, 98, 0, 0.35),
			0 0 14px rgba(252, 98, 0, 0.35),
			0 0 6px rgba(252, 98, 0, 0.35);
			@media (max-width: toEm(1000)){
				  	@include adaptiveValue("font-size", 135, 90, 0, 1000, 375);
			}
	}

	&__title-sub {
		font-weight: 900;
@include adaptiveValue("font-size", 32, 22, 0, $maxWidthContainer, 1000);
		letter-spacing: -0.01em;
		text-transform: uppercase;
		text-align: right;
		padding-right: 15px;
		@media (max-width: toEm(1000)){
			padding-right: 0;
		@include adaptiveValue("font-size", 35, 24, 0, 1000, 375);
		}
		span {
			color: var(--orangeColor);
		}
	}
  &__button-wrapper.button-wrapper {
    &.is-hidden {
	 display: none;

 

    }
  }
}
.slot {
	position: relative;
overflow: hidden;
	max-width: 100%;
 
  position: relative;
  z-index: 2;
	&__reels {
		overflow: hidden;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
 position: relative;
 z-index: 1;
		@include adaptiveValue("width", 560, 350, 0, $maxWidth, 1000);
		margin: 0 auto;
		overflow: hidden;
 
	@media (max-width: toEm(1000)){
		 @include adaptiveValue("width", 500, 260, 0, 999, 375);
		 @include adaptiveValue("height", 146, 110, 0, 999, 375);
	}
	}

	&__reel {
		overflow: hidden;
		  @include adaptiveValue("height", 140, 90, 0, $maxWidth, 1000);
		@media (max-width: toEm(1000)){
			   @include adaptiveValue("height", 146, 65, 0, 999, 375);
		}
	}

	&__window {
		overflow: hidden;
		@include adaptiveValue("height", 140, 90, $maxWidth, 1000);
	}

	&__track {
		display: flex;
		flex-direction: column;
		will-change: transform;
		transform: translateY(0);
		overflow: hidden;
	}

	&__item {
	flex-grow: 0;
	flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		  @include adaptiveValue("flex-basis", 140, 90, 0, $maxWidth, 1000);
  @include adaptiveValue("height", 140, 90, 0, $maxWidth, 1000);
		@media (max-width: toEm(1000)){
	@include adaptiveValue("flex-basis", 146, 75, 0, 999, 375);
		}
	}

	&__item img {
		overflow: hidden;
	@include adaptiveValue("width", 140, 90, 0, $maxWidth, 1000);
@include adaptiveValue("height", 140, 90, 0, $maxWidth, 1000);
		object-fit: contain;
		display: block;
		@media (max-width: toEm(1000)){
			  @include adaptiveValue("width", 120, 65, 0, 999, 375);
@include adaptiveValue("height", 120, 65, 0, 999, 375);

		}
@media (max-width:toEm($mobileSmall)){
	  
}
	}
	&__message {
		font-family:var(--secondaryFont);
		font-style: italic;
		position: absolute;
		left: 50%;
		@include adaptiveValue("top", 68, 50, 0, $maxWidth, 1300);
		z-index: 6;
		@include adaptiveValue("width", 500, 320, 0, $maxWidth, 1000);
		@include adaptiveValue("min-height", 118, 70, 0, $maxWidth, 1000);

		 
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("padding", 40, 20, 0, $maxWidth, 1600);
		border-radius: 12px;
		text-align: center;
	@include adaptiveValue("font-size", 24, 22, 0, $maxWidth, 1600);
	@include adaptiveValue("font-size", 22, 15, 0, 1599, 375);
		font-weight: 800;
		color: var(--bgColor);
		line-height: 1.4;
letter-spacing: -0.01em;
		box-shadow:
			0 0 64px 0 rgba(255, 255, 255, 0.7),
			0 0 24px 0 rgba(255, 255, 255, 0.5);
		background: rgba(255, 255, 255, 0.8);
		transform: translate(-50%, -50%) scale(0.9);
		opacity: 0;
		pointer-events: none;
		transition:
			opacity 0.25s ease,
			transform 0.25s ease;
 
 @media (max-width: toEm(1000)){
	  @include adaptiveValue("width", 450, 240, 0, 999, 375);
		@include adaptiveValue("min-height", 110, 50, 0, 999, 375);
		@include adaptiveValue("top", 68, 34, 0, 999, 375);
 }
 
	}

	&__message.is-active {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
 
	&__button:disabled {
		opacity: 0.7;
		cursor: not-allowed;
	}
}

.button-wrapper {
	padding: 11px;
	z-index: 4;
	position: relative;
	border-radius: 19px;
	display: flex;
	justify-content: center;
	transition: all 0.8s;
  position: relative;
  z-index: 4;
 
	&::before,
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		padding: 1px;
		border-radius: inherit;
		pointer-events: none;

		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;

		mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;
	}

	&::before {
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0) 0%,
			#ffffff 28%,
			rgba(252, 98, 0, 0) 40%,
			#fc6200 100%
		);
	}

	&::after {
		opacity: 0;
		transition: opacity 0.8s ease;

		background: linear-gradient(
			to right,
			#fc6200 0%,
			rgba(252, 98, 0, 0) 60%,
			#ffffff 72%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	@media (any-hover: hover) {
		&:hover::after {
			opacity: 1;
		}
	}
}
// =========================================================================================
